html, body, .App {
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6, h7, ul, p{
  font-family: 'Lato';
  font-weight: 300;
  color: #3a3b3c;
}

.header-section {
  position: relative;
  background-image: url(./assets/bannerscreenshot.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height:24rem;
  width:100%;
  color: white;
  overflow: auto;
}

.header-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.nav-links {
  display: block;
  margin: 0 auto;
  padding: 0 0;
}

.nav-link {
  display: inline-block;
  /*padding: 0rem .5rem 0rem 1.5rem;*/
  list-style: none;
}

.nav-link a {
  display: inline-block;
  color: #3a3b3c;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
}

.nav-link a:hover {
  color: #222;
  background-color: rgba(255, 255, 255, 0.3);

}

.logo {
  max-width: 25%;
  max-height: 100px;
}

#projects {
  overflow: auto;
}
.project {
  box-sizing: border-box;
  margin: 0.3rem 0.3rem;
  display: inline-block;
  min-height: 12rem;
  position: relative;
  float:left;
  padding-left: 1rem;
  text-align: left;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.project:hover {
  height: 500px;
  width: 100%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.project h1 {
  color: #3a3b3c;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 5rem;
  padding: 0 0;
  margin: 0 0;
  position: relative;
  top: 1rem;
}
.project h2 {
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  line-height: 0.5rem;
  position: relative;
  top: -.5rem;
}
.project:hover {
  background-color: pink;
}
.project1 {
  width: 100%;
  background-color: #fec63d;
}

.project2 {
  width: 67%;
  background-color: #f7921e;
}

.project3 {
  width: 30.8%;
  background-color: #b51218;
}

.project4 {
  width: 22.7%;
  background-color: #009bdf;
}

.project5 {
  width: 75%;
  background-color: #fec63d;
}

.project6 {
  width: 49%;
  background-color: #f7921e;
}
.project7 {
  width: 49%;
  background-color: #b51218;
}
.project8 {
  width: 80%;
  background-color: #a8e0fa;
}
.project9 {
  width: 18%;
  background-color: #009bdf;
}

#values {
  overflow: auto;
}
.values {
  float: left;
  display: inline-block;
  text-align: center;
  margin: 1% 1%;
  width: 23%;
  min-height: 270px;
  overflow: auto;
}

.simple:hover, .details-1:hover {
  background-color: #f7921e;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.thoughtful:hover, .details-2:hover {
  background-color: yellow;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.creative:hover, .details-3:hover {
  background-color: #66e9ff;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.values p {
  width: 90%;
  padding: 20px 5px 5px 5px;
  text-align: center;
}
.values-img {
  width: 80%;
  position: relative;
  top: 20px;
}
.simple .values-img {
  top: 35px;
}

#core, #core h1 {
  background-color: #b51218;
  color: white;
  font-weight: normal;
  font-size: 5rem;
  line-height: 8rem;
}
.simple {
  background-color: rgb(247, 165, 115);
  color: #3a3b3c;
  font-size: 0.8rem;
  -webkit-transition: background-color 2s, -webkit-transform 4s;
  transition: background-color 2s, transform 4s;
}
.thoughtful {
  background-color: #fec63d;
  color: #3a3b3c;
  font-size: 0.8rem;
  -webkit-transition: background-color 2s, -webkit-transform 4s;
  transition: background-color 4s, transform 4s;
}
.creative {
  background-color: #a8e0fa;
  color:  #3a3b3c;
  font-size: 0.8rem;
  -webkit-transition: background-color 2s, -webkit-transform 4s;
  transition: background-color 2s, transform 4s;
}
.details-1 {
  background-color: rgb(247, 165, 115);
  color: #3a3b3c;
  font-size: 1.3rem;
  -webkit-transition: background-color 2s, -webkit-transform 4s;
  transition: background-color 2s, transform 4s;
}
.details-2{
  background-color: #fec63d;
  color: #3a3b3c;
  font-size: 1.3rem;
  -webkit-transition: background-color 2s, -webkit-transform 4s;
  transition: background-color 2s, transform 4s;
}
.details-3 {
  background-color: #a8e0fa;
  color:  #3a3b3c;
  font-size: 1.3rem;
  -webkit-transition: background-color 2s, -webkit-transform 4s;
  transition: background-color 2s, transform 4s;
}
#value, #value h1 {
  background-color: #009bdf;
  color: white;
  font-weight: normal;
  font-size: 5rem;
  line-height: 8rem;
}

#about {
  overflow: auto;
  padding: 10px;
  background-color: #eee;
}
.profile-pic {
  position:relative;
  float: left;
  padding: 5px;
  width: 30%;
  height: 230px;
}
.about-text {
  padding: 1rem 1rem 1rem 1rem;
  display: inline-block;
  width: 60%;
  position: relative;
  float: left;
  background-color: #eee;
}

.about-text h1 {
  text-align: left;
}

#contact {
  margin-top: 10px;
}

.dot {
  display: inline-block;
  margin: 20px 10px 20px 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #ccc;
}

.contact-pic {
  width: 49.4%;
  float: left;
  background-color: #a8e0fa;
  padding-top: 20px;
}

.contact-pic p{
  font-size: 1rem;
  font-weight: 400;
}

.contact-form {
  margin-left: 5px;
  background-color: #fec63d;
  width: 50%;
  float:left;
  height: 235px;
}

.contact-field {
  padding: 10px 10px 20px 50px;
  text-align: left;
  display: block;
}
input {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 1px 1px #eee;
}
@media (max-width: 700px) {
  .details-1, .details-2, .details-3 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .nav-link a{
    font-size: 1.2rem;
  }
  .project {
    width: 100%;
    margin-left: 0px;
  }
  .values {
    width: 100%;
    font-size: 1.3rem;
    margin: 5px 0 0 0;
  }
  .values p {
    padding-top: 45px;
  }
  .values-img {
    position: relative;
    top: 15px;
    max-height: 100%;
    max-width:70%;
  }
  .simple .values-img{
    top: 45px;
  }
  .profile-pic {
    width: 100%;
    border-radius: 50%;
    border-style: 2px solid grey;
  }
  .about-text {
    width: 90%;
  }
  .contact-pic {
    width: 100%;
  }
  .contact-form {
    width: 100%;
    margin: 5px 0 0 0;
  }
  .dot {
    width: 15px;
    height: 15px;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
